:root {
    --light-color: #ffffff;
    --dark-color: #000000;
    --gray-color: #B0B0B0;
    --gray-bg: #B0B0B0;
    --light-gray:#F4F4F4;
}

/* color comman css */
.light-color {
    color: var(--light-color);
}
.light-gray {
    color: var(--light-gray);
}
.dark-color {
    color: var(--dark-color);
}

.gray-color {
    color: var(--gray-color);
}

/* backrounds color comman css   */
.light-bg {
    background-color: var(--light-color);
}
.light-gray-bg {
    background-color: var(--light-gray);
}
.dark-bg {
    background-color: var(--dark-color);
}

.gary-bg {
    background-color: var(--gray-color);
}