.my_account_section {
    background-color: var(--extra-color-7);
    border-radius: 20px;
    width: 1200px;
    margin: 30px auto;


}

.table-responsive {
    overflow-x: auto;
    width: 100px;
}

.table {
    width: 1050px;
    border-collapse: collapse;
}

.submit-btn {
    border-radius: 27px;
    text-decoration: none;
    border: 1px solid var(--secondary-color);
    font-size: 14px;
    padding: 7px 50px;
    font-family: var(--primary-medium-font);
    color: var(--secondary-color);
    transition: 0.6s all;
    background-color: transparent;
}

.submit-btn a {
    text-decoration: none;
    color: var(--secondary-color);
}

#icon img {
    position: relative;
    left: 20px;
}

.table thead {
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: white;
    font-family: var(--primary-light-font);
    font-size: 14px;
    overflow: hidden;
    padding: 20px;
}

.table thead th {
    padding: 20px;
}


.table_head th:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.table_head th:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.table_body tr td {
    background-color: white;
    padding: 15px;
    color: black;
    font-size: 14px;
    font-family: var(--primary-bold-font);

}

.pending_btn {
    background-color: #daab0048;
    border-radius: 20px;
    border: 0px;
    padding: 5px 10px;
    color: var(--extra-color-3);
}

.completed_btn {
    background-color: #17ec4556;
    border-radius: 20px;
    border: 0px;
    padding: 5px 10px;
    color: #17EC46;
}

.inprogress_btn {
    background-color: #189bd359;
    border-radius: 20px;
    border: 0px;
    padding: 5px 10px;
    color: var(--secondary-color);
}

.view_btn {
    color: var(--secondary-color);
    font-family: var(--primary-reguler-font);
    font-size: 16px;
    text-decoration: none;
}

.radio-wrapper input[type="radio"]:checked+.radio-span {
    background-color: var(--secondary-color);
    width: 400px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.radio-wrapper input[type="radio"]:checked+.radio-span::before {
    content: "Active";
    position: absolute;
    bottom: 80%;
    left: 80%;
    font-family: var(--primary-medium-font);
}

.radio-span {
    background-color: #E3E1E1;
    width: 400px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
}

.radio-wrapper input[type="radio"]:checked+span::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 8px;
    width: 7px;
    height: 14px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.in_progress_btn {
    background-color: #189bd331;
    color: var(--secondary-color);
    border-radius: 20px;
    border: 0px;
    padding: 5px 10px;
}

#trashIcon {
    position: relative;
    top: -31px;
    left: 75%;

}

#eyeIcon {
    color: #6d6c6c;
    font-size: 15px;
}

.shop-select .form-select {
    font-size: 14px;
    font-family: var(--primary-medium-font);
    border: 1px solid #00000050;
    border-radius: 27px;
    color: #404040;
    height: 52px;
    max-width: 100%;
    width: 100%;
    background-color: transparent;
}
@media (min-width:100px) and (max-width:600px) {
    #tableContainer {
        width: 100% !important;
        overflow-x: auto;
        margin: 10px;

    }
  
}

@media (min-width:200px) and (max-width:992px) {

   #tableContainer {
        width: 100% !important;
        overflow-x: auto;
        margin: 10px;

    }
    .radio-wrapper input[type="radio"]:checked+.radio-span {
        width: 340px;
    }

    .radio-span {
        width: 340px;

    }

    .my_account_section {
        width: 100%;
        padding: 10px !important;

    }
}


@media (min-width:992px) and (max-width:1300px) {
    #tableContainer {
        width: 750px !important;
        overflow-x: auto;
        margin: 10px;
    }

    .my_account_section {
        background-color: var(--extra-color-7);
        border-radius: 20px;
        width: 900px;
        margin: 30px auto;
    }
    #icon img {
        position: relative;
        left: 0px;
    }
}